:root {
  --sidebar-width: 25em;
}

body {
	/* background-color: black; */
}

.white-bg {
	background-color: whitesmoke;
}

.white-bg img {
	width:100%;
	object-fit:cover;
	object-position: bottom;
	padding-bottom:4em;
}

.text-center-quote {
	text-align: center;
	padding:1em;
	white-space: break-spaces;
}

.spacer-div {
	height: 10em;
}

.clear-float {
	float:none;
}

img + em {
	text-align: center;
	display:block;
}

h5 {
	color: firebrick;
	font-weight: bold;
	font-size: 14pt;
}

ul {
	margin-top: 5px;
}

img {
	border-radius: 0.4em;
}

figure {
	/* display:table; */
}

figure img {
	width:100%;
	object-fit:cover;
	object-position: bottom;
}

figure.float-right {
	float:right;
}

figcaption {
	text-align: center;
	/* display:table-caption; */
	/* caption-side: bottom; */
}

figcaption p {
	margin: 0;
	padding:0;
	font-size:0.8rem;
	line-height:1rem;
}

div#brandDiv {
	display:grid;
	grid-template-columns: 6em 1fr;
	grid-gap:1rem;
}

#toc-sidenav {
}

#toc-sidenav ul {
	padding-left:1rem;
}

#toc-sidenav ul li {
	font-size:0.7rem;
}

/* Style images with selectors of title */
img[title*="imgClass--float-right"], img.float-right {
	float:right;
	margin:1em;
}

img.float-left, figure.float-left {
	float:left;
	margin:1em;
}

img[title*="imgClass--preview"], img.preview {
	height:8.5em;
}

img.preview-md, figure.preview-md img {
	height:12em;
	margin: .5em;

}

img.preview-lg, figure.preview-lg img {
	height:18em;
	margin: .5em;
}

img[title*="imgClass--half-size"] {
	width:50%;
}

img[alt*="imgId-hands"] {
	width:25%;
}

/* .table-image--div {
	margin-right:.5em;
	display: grid;
	grid-template-rows: 1em 1fr 1fr;
} */

.table-image--title {
	color: firebrick;
	font-weight: bold;
}

.grid-table--div {
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap:1em;
	align-items: center;
}

.small-grid {
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.col-2 {
	display:grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
}

@media (max-width: 48em) {
	img[title*="imgClass--float-right"] {
		padding:0;
		max-width:100%;
		height: auto;
	}
	figure.float-right {
		float:none;
		padding:1em;
	}
	.col-2 {
		grid-template-columns: 1fr;
	}
}


.pure-menu-active > .pure-menu-children, .pure-menu-allow-hover:hover > .pure-menu-children {
	position: relative;
	left:2em;
}

#layout.active #menu {
	left: var(--sidebar-width);
	width: var(--sidebar-width);
}

#layout.active .menu-link {
	left: var(--sidebar-width);
}

#menu {
	margin-left: calc(var(--sidebar-width) * -1); /* "#menu" width */
	width: var(--sidebar-width);
}

#menu:last-child {
	
}

@media (min-width: 48em) {
	#menu {
		left: var(--sidebar-width);
	}
	.menu-link {
		position: fixed;
		left: var(--sidebar-width);
		display: none;
	}
	#layout.active .menu-link {
		left: var(--sidebar-width);
	}
	.header, .content {
		padding-left: var(--sidebar-width);
		padding-right: 2em;
	}
}

@media (max-width: 48em) {
	#layout.active {
			left: var(--sidebar-width);
	}
}