:root {
	--highlight-color:#ff7473;
}

/* remove the below if you don't want smooth scrolling */
html,
body {
  scroll-behavior: smooth;
}

html {
	font-family: 'open sans', Helvetica Neue', Helvetica, sans-serif;
}

body {
  --text-color: #222;
  --bkg-color: #fff;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}

body {
  background: var(--bkg-color);
}

h1, h2, 
p {
  color: var(--text-color);
}

.btn-toggle {
  font-size: 0.8rem;
}

/* arrow */

.arrow {
position: absolute;
right: 13em;
top: 8em;
}

.p-relative {position: relative;}

.arrow:before {
	display:block;
	width:0;
	height: 0;
	border-style: solid;
	border-width: 14px 8px 0;
	border-color: var(--highlight-color) transparent transparent transparent; 
}

.arrow:after {
	content: '';
	border-width: 5px 0 0 5px;
  border-style: solid;
  border-color: var(--highlight-color);
	border-top-left-radius: 100%;
	width: 43px;
	height:108px;
  display:block;
	rotate: 204deg;
	position: absolute;
	left:-70px;
}

/* ***** */

table th, table td {
  padding-right: 1em;
	padding-left: 1em;
	border: 1px solid black;
}

.bluec {
	color: blue;
	font-weight: bold;
}

.redc {
	color: red;
	font-weight: bold;
}
.redc a {
	color: red;
	text-decoration: underline;
}

.greenc {
	color: green;
	font-weight: bold;
}

em {
	text-decoration: underline;
	text-align: center;
}

dt {
	text-transform: capitalize;
	font-weight: bold;
}

div.svg--div {
	display:inline;
}

div.center-content {
	text-align: center;
	width:100%;
	margin: 0 auto;
}

.center {
	text-align: center;
}

div.flex-center-column {
	display:flex;
	align-items: center;
	flex-direction: column;
}

.white-bg {
	background-color: whitesmoke;
}

.white-bg img {
	width:100%;
	object-fit:cover;
	object-position: bottom;
	padding-bottom:4em;
}

div.red-border {
	border:3px solid firebrick;
	padding: 1em;
}

div.red-border--img-div {
	display:flex;
	justify-content: end;
}

div.red-border--img-grid {
	display:grid;
	/* grid-template-columns: repeat(3, 1fr); */
	gap: 0.4em;
}

.text-center-quote {
	text-align: center;
	padding:1em;
	white-space: break-spaces;
}

.spacer-div {
	height: 10em;
	position: relative;
}

.spacer-div:after {
	content: '***';
	font-size:14pt;
	color:#777;
	position: absolute;
	top:50%;
	left:48%;
}

.clear-float {
	float:none;
	height:200px;
}

.center-block {
	margin: 0 auto!important;
}

img + em {
	text-align: center;
	display:block;
}

h5 {
	color: firebrick;
	font-weight: bold;
	font-size: 14pt;
}

ul {
	margin-top: 5px;
}

img {
	border-radius: 0.4em;
}

figure {
	border-radius: 0.4em;
}

figure img {
	max-width:100%;
	height:auto;
	display:block;
	object-fit:cover;
	object-position: bottom;
	margin: 0 auto;
}

figure.pure-img {
	max-width: fit-content;
}

.float-right {float:right;}

.w-75 {width:75%;}
.w-50 {width:50%;}
.w-100 {width:100%;}
.w-250 {width:250px;}
.w-300 {width:300px;}
.w-400 {width:400px;}
.w-500 {width:500px;}

div.p-1 {padding: 1em;}
div.p-2 {padding:2em;}

.my-1 {margin-top:1em;margin-bottom:1em;}
.py-1 {padding-top:1em;padding-bottom:1em;}

figcaption {
	text-align: center;
}

figcaption p, .figcaption {
	padding:0;
	font-size:0.8rem;
	line-height:1rem;
}

img.rotate270, figure.rotate270  img {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
	padding:1em;
}

div#brandDiv {
	display:grid;
	grid-template-columns: 6em 1fr auto;
	grid-gap:1rem;
	padding: 8px;
}

div#brandDiv a.brand {
	text-transform: uppercase;
	white-space: break-spaces;
line-height: 1em;
padding:0;
}

#toc-sidenav nav ul {
	padding-left:1rem;
}

#toc-sidenav nav ul li {
	font-size:1rem;
	padding: 0;

}
#toc-sidenav nav ul li a:hover {
  background: #333;
}
#toc-sidenav nav ul li a {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
	margin: 0;
	width: 100%;
	display: inline-block;
}

img.orange-outline, figure.orange-outline, div.orange-outline {
	outline: 3px solid orange;
	padding:0.3em;
}

img.red-outline, figure.red-outline, div.red-outline {
	outline: 3px solid firebrick;
	padding:0.3em;
}

img.pink-outline, figure.pink-outline, div.pink-outline {
	outline: 3px solid pink;
	padding:0.3em;
}

img.green-outline, figure.green-outline, div.green-outline {
	outline: 3px solid green;
	padding:0.3em;
}

img.blue-outline, figure.blue-outline, div.blue-outline {
	outline: 3px solid lightskyblue;
	padding:0.3em;
}

img.yellow-outline, figure.yellow-outline, div.yellow-outline {
	outline: 3px solid wheat;
	padding:0.3em;
}

img.white-outline, figure.white-outline, div.white-outline {
	outline: 3px solid whitesmoke;
	padding:0.3em;
}

img.white-bg {
	background-color:whitesmoke;
}

.font-sm {
	font-size: smaller;
}
.font-lg {
	font-size:larger;
}
.font-bold {
	font-weight: bold;
}
.vowel-symbol {
  font-size: 3rem;
	padding:1rem;
	margin-right:3rem;
	line-height: 3rem;
}

.pink-jumbotron {
	color: pink;
	font-size:2rem;
	line-height: 3rem;
	font-weight: bold;
	padding:1em;
	background-color: white;
	border-radius: 0.4em;
	outline: 2px dashed black;
}

/* Style images with selectors of title */
img.float-right, div.float-right {
	float:right;
	margin:2em;
}

img.float-left, figure.float-left, div.float-left {
	float:left;
	margin:2em;
}

img.preview-md, figure.preview-md img {
	height:12em;
	margin: .5em;
}

img.preview-lg, figure.preview-lg img {
	height:18em;
	margin: .5em;
}

img.preview-300, figure.preview-300, figure.preview-300 img {
	width:300px;
}

.table-image--title {
	color: firebrick;
	font-weight: bold;
}

.grid-table--div {
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap:1em;
	align-items: center;
}

.small-grid {
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.col-2 {
	display:grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	margin: 1em;
	place-items: center;
}

.col-3 {
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	place-items: center;
}

.col-4 {
	display:grid;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	gap:1rem;
}

.col-4 .tbl-header {
	background-color: #636f7f;
	font-weight: bold;
	color:#fff;
}

.col-4 .span-3 {
	grid-column: span 3;
}

.col-6 {
	display:grid;
	grid-template-columns: repeat(6, 1fr);
}

div.bg-border {
  /* border:1px solid black; */
	gap:0;
}

div.bg-border div {
	padding:4px;
	outline: 1px solid black;
}

/* Mobile View */
@media (max-width: 48em) {
	.header {
		padding:0;
		width: 100vw;
	}
	.header h1 {
		margin: 0;
		font-size: 2rem;
		width: 100vw;
	}
	.content {
		padding: 8px;
		width: 95vw;
	}
	figure {
		margin:0;padding:0;
	}
	figure.float-right {
		float:none;
		padding:1em;
		margin:0 auto;
	}
	img.float-right, div.float-right {float:none;margin:0 auto;}
	img.float-left, figure.float-left, div.float-left {float:none;margin:0;}
	.col-2 {
		grid-template-columns: 1fr;
	}
	.col-3 {
		grid-template-columns: 1fr;
	}
	.col-4 {
		grid-template-columns: 1fr;
	}

.preview {margin:0 auto;}
	.w-300, .w-400, .w-500 {max-width:100%;}
	img.preview-300, figure.preview-300, figure.preview-300 img {max-width:100%;}
	img.preview-md, figure.preview-md img {
		max-width:100%;
		height:auto;
		margin: 0;
	}
	img.preview-lg, figure.preview-lg img {
		height:auto;
		max-width:100%;
		margin: 0;
	}

	div.p-2 {padding:0;}

	img.blue-outline, figure.blue-outline, div.blue-outline {
		padding:0;
	}
	.arrow:after {left:-80px;}
}

@media (max-width: 18em) {
  .arrow {right:0;}
}


.pure-menu-active > .pure-menu-children, .pure-menu-allow-hover:hover > .pure-menu-children {
	position: relative;
	left:2em;
}


/* scroll to top */
/* https://www.freecodecamp.org/news/css-only-back-to-top-button */

body {
  display:grid;
  grid-template-columns: auto 0px;
}

.top {
  --offset: 50px;

  position: sticky;
  bottom:20px;
  margin-right:10px;
  place-self:end;
  right: 0.25rem;
  margin-top: calc(100vh + var(--offset));

  width:45px;
  aspect-ratio: 1;
  background: hsl(211, 30%, 40% );
  border-radius: 10px;
}

.top:before {
  content: '';
  position: absolute;
  inset: 30%;
  transform:translateY(20%) rotate(-45deg);
  border-top:5px solid #fff;
  border-right:5px solid #fff;
}
